@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;700&display=swap');

.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.topPanel { 
  background-image: url('../images/pattern-bg.png');
  background-repeat: no-repeat;
  height: 250px;
  width: 1440px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  font-family: 'Rubik', sans-serif;
  color: white;
  font-size: 30px;
  font-weight: 500;
  position: relative;
}

.bottomPanel {
  background-color: black;
  height: 1000px;
  width: 1440px;
}

.searchBar {
  display: flex;
  align-items: center;
  padding-bottom: 90px;
}

.inputBar {
  border-radius: 18px 0 0 18px;
  padding: 18px 0 18px 25px;
  border: none;
  width: 600px;
  outline: none;
  font-family: 'Rubik', sans-serif;
  font-size: 18px;
}

button.searchButton {
  background-image: url('../images/icon-arrow.svg');
  background-repeat: no-repeat;
  border-radius: 0 18px 18px 0px;
  border: none;
  width: 58px;
  height: 58px;
  background-color: black;
  background-position: center;
  outline: none;
}

button.searchButton:active {
  background-color: hsl(0, 0%, 17%);
}

.infoPanel {
  background-color: white;
  border-radius: 18px;
  height: 150px;
  width: 80%;
  position: absolute;
  top: 175px;
  color:black;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
}